<app-card>
  <div class="flex xl:flex-row xl:text-start text-center gap-3 flex-col items-center justify-evenly w-full">
    <div class="flex flex-col">
      <p class="text-xl text-primary-light">{{ tittle }}</p>
      <p class="font-bold text-3xl">23</p>
      <p class="text-primary-light">+5 last month</p>
    </div>
    <div class="relative flex flex-col items-center">
      <mat-progress-spinner mode="determinate" value="79"></mat-progress-spinner>
      <div class="absolute flex items-center h-full mt-2">
        <p>79/150</p>
      </div>
    </div>
  </div>
</app-card>
